*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(255, 14, 14);
}
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
.large-header {
    position: relative;
    width: 100%;
    background: rgb(204, 42, 42);
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
 }
 
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 5;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-40%, -30%, 0);
    transform: translate3d(-40%, -30%, 0);
 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 2.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }

  
.top-txt{
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    font-size: 27px;
}
.container{
    box-shadow: 0 0 4px 1px rgb(12, 12, 12);
    width: 400px;
    height: 350px;
    border-radius: 50px;
    display: flex;
    align-items: center;  
    flex-direction: column;  
    background-color: rgb(253, 113, 19);
}
.container p{
    color: rgb(206, 32, 32);
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.inputContainer{
    margin:5px;
    display: flex;
    justify-content: space-between;
    width:80%;
    color: rgb(12, 12, 12);
}
.inputContainer label{
    font-size: larger;
}
.inputContainer input{
    border:none;
    outline: none;
    box-shadow: 0.1px 1px 2px 1px rgb(226, 34, 34);
    padding:4px;
    font-size: large;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
}
.footer{
    margin-top: 80px;
    font-size: 25px;
    color: #c40a1a;
}